body {
	font-family: 'Bungee Inline', cursive;
	text-align:center;
	background-color: #000000;
	background-attachment: "sky";
	overflow-x: hidden;
	/* animation for BG */
	background: linear-gradient(270deg, #0a1c17, #ea9a14, #1448ea);
	background-size: 600% 600%;
    -indexwebkit-animation: DBZ 4s ease infinite;
    -moz-animation: DBZ 4s ease infinite;
    animation: DBZ 4s ease infinite;
}

.headingTitle {
	font-size:70px;
	color: #0000ff;
}

/*.thumbnail {
	height: 600px;
	width: 75%;	
}*/

.coolImage {
	height: 500px !important;
	width: 200px !important;
	margin:auto;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
	height: 1100px;

}

.coolImage:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes DBZ {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes DBZ {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes DBZ { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}




